<div class="d-flex flex-wrap align-items-start justify-content-center h-100 w-100">
    <div class="container w-100 h-100 my-3">
        <h1 class="text-left"><u>Criar Forma de Frete</u></h1>

        <div class="w-100">
            <form class="form-horizontal" method="post" action="/shippings">
                <div class="form-group">
                    <label for="name" class="cols-sm-2 control-label">Nome</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"></span>
                            <input type="text" class="form-control" name="name" id="name"
                                placeholder="Insira o nome da forma de frete" />
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="description" class="cols-sm-2 control-label">Descrição</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"></span>
                            <textarea type="text" class="form-control" name="description" id="description"
                                placeholder="Insira a descrição" rows="3"></textarea>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="price" class="cols-sm-2 control-label">Price</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"></span>
                            <input type="number" step=0.01 class="form-control" name="price" id="price"
                                placeholder="Insira o preço" />
                        </div>
                    </div>
                </div>
    
                <div class="form-group ">
                    <button type="submit" class="btn btn-primary btn-lg btn-block login-button">Criar</button>
                </div>
                <div>
                    <a href="/shippings">Voltar</a>
                </div>
            </form>
        </div>
    </div>
</div>