<div class="d-flex flex-wrap align-items-center justify-content-center h-100 w-100">
    <div>
        <h1>Welcome <%- user.name %> !</h1>
        <p class="text-center">Select an action in side menu.</p>
    </div>
</div>