<div class="d-flex flex-wrap align-items-center justify-content-center h-100 w-100">
    <div class="d-flex flex-column flex-wrap align-items-center justify-content-center my-5">
        <h1>Welcome <%- user.name %> !</h1>
        <p class="text-center">Select an action in side menu.</p>
        <button type="button" class="btn btn-success my-5">Generate Sales Report</button>
    </div>
</div>