<div class="d-flex flex-wrap align-items-center justify-content-center w-100 h-100">
    <div class="text-center w-100">
        <img src="/static/images/main-banner.jpg" class="img-fluid" alt="coffee-main-banner">
    </div>

    <%- include('./products/new-products.ejs') %>
</div>