<div style="color: #fff; background-color: #8d6748; display: flex; justify-content: center; align-items: center; flex-direction: column; height: 100%; width: 100%;">
    <h1>Olá <%- user.name %> !</h1>
    <p>Sua conta foi criada com sucesso.</p>
</div>
