<nav class="navbar navbar-expand-lg navbar-light bg-light d-flex align-items-center justify-content-between">
    <a class="navbar-brand" href="#">
        <img src="/images/coffee.svg" width="30" height="30" alt="My Coffee"> My Coffee
    </a>

    <a href="/login">Login</a>
</nav>