<nav class="navbar navbar-expand-lg navbar-light bg-light-brown d-flex align-items-center justify-content-between">
    <a class="navbar-brand other-link" href="/" data-toggle="tooltip" data-placement="bottom" title="Ir para página inicial">
        <img src="/static/images/coffee.svg" width="30" height="30" alt="My Coffee"> My Coffee
    </a>

    <div class="d-flex align-items-center justify-content-center mx-2">
        <% if (user && user.type !== 'admin') { %>
            <a href="/cart" class="mx-2 other-link" data-toggle="tooltip" data-placement="bottom" title="Ir para carrinho">
                <i class="fa-solid fa-cart-shopping"></i>
            </a>
        <%} else { %>
            <a href="/cart" class="mx-2 other-link" data-toggle="tooltip" data-placement="bottom" title="Ir para carrinho">
                <i class="fa-solid fa-cart-shopping"></i>
            </a>
        <% } %>

        <% if (user) { %>
            <div class="d-flex align-items-center justify-content-between px-3 mx-2 other-link">
                <p class="my-0 mx-2 other-link"><%- user.name %></p>
                <a href="/logout" style="color: #fff!important">Sair</a>
            </div>
        <%} else { %>
            <div class="mx-2">
                <a href="/login" style="color: #fff!important">Entrar</a>
            </div>
        <% } %>
    </div>
</nav>

<% if (user) { %>
    <nav class="navbar navbar-expand-lg navbar-light bg-low-light-brown d-flex align-items-center justify-content-around">
        <% if (user.type === 'admin') { %>
            <a href="/admin" style="color: #fff!important">Página Inicial Admin</a>
            <a href="/categories" style="color: #fff!important">Categorias</a>
            <a href="/products" style="color: #fff!important">Produtos</a>
            <a href="/posts" style="color: #fff!important">Artigos</a>
            <a href="/shippings" style="color: #fff!important">Formas de Frete</a>
        <%} else { %>
            <a href="/orders/user" style="color: #fff!important">Pedidos</a>
            <a href="/address" style="color: #fff!important">Meu Endereço</a>
        <% } %>
    </nav>
<% } %>