<div class="d-flex flex-column align-items-center justify-content-center mx-0 my-3 p-2 bg-light w-100">
    <h1><u>Blog Posts</u></h1>
    
    <div class="d-flex flex-wrap align-items-center justify-content-around m-0 p-2">
        <div class="flex-fill p-3 m-2 bg-white">
            <h3>Title 1</h3>
            <p class="m-0">Description 1</p>
        </div>
        <div class="flex-fill p-3 m-2 bg-white">
            <h3>Title 2</h3>
            <p class="m-0">Description 2 dsjadh jsd hsaiudh sauidh asuidh ashdashdasuhidasidhsauihd ashdiashd uhasdhasdhasd</p>
        </div>
        <div class="flex-fill p-3 m-2 bg-white">
            <h3>Title 1</h3>
            <p class="m-0">Description 1</p>
        </div>
        <div class="flex-fill p-3 m-2 bg-white">
            <h3>Title 1</h3>
            <p class="m-0">Description 1</p>
        </div>
    </div>
</div>