<div class="d-flex flex-wrap align-items-start justify-content-center h-100 w-100">
    <div class="container w-100 h-100 my-3">
        <h1 class="text-left"><u>Criar Artigo</u></h1>

        <div class="w-100">
            <form class="form-horizontal" method="post" action="/posts">
                <div class="form-group">
                    <label for="title" class="cols-sm-2 control-label">Título</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"></span>
                            <input type="text" class="form-control" name="title" id="title"
                                placeholder="Insira o título do artigo" />
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="content" class="cols-sm-2 control-label">Conteúdo</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"></span>
                            <textarea type="text" class="form-control" name="content" id="content"
                                placeholder="Insira o conteúdo" rows="3"></textarea>
                        </div>
                    </div>
                </div>

                <div class="form-group ">
                    <button type="submit" class="btn btn-primary btn-lg btn-block login-button">Criar</button>
                </div>
                <div>
                    <a href="/posts">Voltar</a>
                </div>
            </form>
        </div>
    </div>
</div>