<div class="d-flex flex-wrap align-items-center justify-content-center w-100 h-100">
    <div class="card w-50 my-5">
        <div class="card-header">Entrar</div>
        <div class="card-body">

            <form class="form-horizontal" method="post" action="/login">
                <div class="form-group">
                    <label for="email" class="cols-sm-2 control-label">Email</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <input type="text" class="form-control" name="email" id="email"
                                placeholder="Insira seu email" />
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="password" class="cols-sm-2 control-label">Senha</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <input type="password" class="form-control" name="password" id="password"
                                placeholder="Insira sua senha" />
                        </div>
                    </div>
                </div>

                <div class="form-group ">
                    <button type="submit" class="btn btn-primary btn-lg btn-block login-button">Entrar</button>
                </div>
                <div class="login-register">
                    <a href="/register">Registrar novo usuário</a>
                </div>
            </form>
        </div>
    </div>
</div>
